/* Default styles for desktop and larger screens */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 50vh;
    margin-bottom: 2rem;
  }
  
  .carousel-image {
    position: absolute;
    transition: all 0.5s ease-in-out;
    cursor: grab;
    border-radius: 0.75rem; /* Rounded corners */
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .carousel-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
/* For small screens (mobile) */
@media (max-width: 640px) {
  .carousel-container {
    height: 30vh; /* Adjust height for mobile */
    overflow: hidden; /* Prevent content overflow */
  }

  .carousel-image {
    transform: scale(0.8); /* Slightly smaller image on mobile */
    /* Remove pointer-events: none; to enable zoom */
  }
}

  
  /* For medium screens (tablets and large phones) */
  @media (max-width: 768px) {
    .carousel-container {
      height: 35vh; /* Adjust the height for tablets */
    }
  
    .carousel-image {
      transform: scale(0.9); /* Slightly scaled images for medium screens */
    }
  }
  
  .carousel-zoom {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .carousel-zoom img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 0.5rem;
  }
  
  .carousel-zoom button {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .carousel-zoom button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  