/* landingPage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
}

.bg-landing-gradient {
    min-height: 100vh; /* contoh supaya kelihatan saat scroll */
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #d1f0ee 30%,
      #098c83 80%,
      #098c83 100%
    );
}
